body, input, button{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0;
}
a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
hr{
    border: 1px solid #eee;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto; 
    padding-left: 8px;
    padding-right: 8px;
}
.d-flex{
    display: flex;
    gap: 8px;
}
.d-none{
    display: none !important;
}
.align-items-center{
    align-items: center;
}
.w-100{
    width: 100%;
}
.text-center{
    text-align: center;
}
.me-8{
    margin-right: 8px;
}
.border{
    border: 2px solid #eee;
}
.rounded{
    border-radius: 8px;
}
.p-16{
    padding: 16px;
}
.mt-16{
    margin-top: 16px;
}
.mb-32{
    margin-bottom: 32px;
}
.pt-32{
    padding-top: 32px;
}
.btn{
    border-radius: 8px;
    height: 44px;
    border: 0;
    padding: 2px;
    background-color: #000;
    color: #fff;
}
.text-alert{
    color: #ff6900 !important;
}
.border-alert{
    border-color: #ff6900 !important;
}
h1{
    margin-bottom: 8px;
    font-size: 32px;
}
h2{
    margin-top: 0;
    font-weight: 400;
    color:#666;
    font: 28px;
}
h3{
    margin: 0;
}
table{
    border-spacing: 0; /* Elimina el espacio entre las columnas */
}
th{
    text-align: left;
    color: #aaa;
    font-size: 18px;
}
td{
    border-top: 1px solid #ddd;   
}
th,td{
    padding: 16px 0;
}
#urlForm{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#longUrl{
    height: 42px;
    border: 0;
    padding-left: 16px;
    max-width: 100%; 
    border-radius: 8px;
    box-sizing: border-box; 
    border: 2px solid #000;
    flex-grow: 1;
}
.containerShortUrlResult{
    display: flex;
    border: 2px solid #128c7e;
    gap: 20px;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
    color: #128c7e;
    font-weight: 600;
    cursor:pointer;
    height: 28px;
    opacity: 0;
    pointer-events: none;
}
.containerShortUrlResult.active{
    opacity: 1;
    pointer-events:all;
    transition: opacity 0.5s ease-in-out;
}
.original-url {
    max-width: 200px; /* Establece el ancho máximo permitido para el texto */
    overflow: hidden; /* Oculta el texto que se desborda del contenedor */
    white-space: nowrap; /* Evita que el texto se envuelva a una nueva línea */
    text-overflow: ellipsis; /* Agrega los puntos suspensivos al final del texto truncado */
    font-size: 12px;
}
.btn-copiar{
    margin-right: 16px;
}
.btn-acortar{
    min-width: 100px;
    cursor: pointer;
}
.simpleAlert{
    margin-top: 0px;
    transition: opacity 0.5s ease-out, margin-top 1s ease-out;
    opacity: 0;
}

.simpleAlert.active {
    opacity: 1;
    margin-top: 16px;
}
.notificacion-flotante{
    position:fixed;
    box-sizing: border-box; 
    max-width: 400px;
    bottom: -100px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: bottom 1s ease-out;
    pointer-events: none;
    color: #128c7e;
}
.notificacion-flotante.active{
    bottom:16px;
}
.notificacion-flotante-error{
    position:fixed;
    box-sizing: border-box; 
    max-width: 400px;
    bottom: -100px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: bottom 1s ease-out;
    pointer-events: none;
    color: #f00 !important;
}
.notificacion-flotante-error.active{
    bottom:16px;
}
.notificacion-flotante div, .notificacion-flotante-error div{
    padding: 4px 16px;
    background-color: #fff;
    justify-content:space-between;
    align-items: center;
    flex-grow: 1;
}
@media (orientation: portrait) {
   .d-portrait-none{
    display: none !important;
   }
   .text-center-portrait{
    text-align: center;
   }
   .notificacion-flotante{
    padding: 0 8px;
    }
}

@keyframes vibrar {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}
.vibrar {
    animation: vibrar 0.3s ease;
}
.short-code-items{
    font-size: 14px;
}
.btn-delete{
    cursor: pointer;
}
.redirect-container{
    height: 100vh;
    justify-content: center;
}

/* LOADER */



.cs-loader {
    position: relative;
    width: 100%;
    height: 30px;
  }
  
  .cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: calc(100% - 200px);
    color: #000;
    padding: 0 100px;
    text-align: center;
  }
  
  .cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display:inline-block;
  }
  
  @keyframes lol {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      transform: translateX(0px);
    }
    66% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(300px);
    }
  }
  
  @-webkit-keyframes lol {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    66% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(300px);
    }
  }
  
  .cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
  }